.app {
  /* text-align: center; */
  width: 600px;
  margin: 30px, auto;
}

.switcherBox {
  display: flex;
  max-width: 150px;
  gap: 10px;
  justify-content: space-between;
}

.btnOn,
.btnOff {
  width: 50px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  height: auto;
}

.btnOnPressed {
  width: 50px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  height: auto;
  background-color: greenyellow;
}

.btnOffPressed {
  width: 50px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  height: auto;
  background-color: rgb(187, 53, 53);
}
.redLamp {
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color:  rgb(187, 53, 53);
}
.greenLamp {
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color:  greenyellow;
}
